torch>=2.1.0
torchvision>=0.16.0
torchaudio>=2.1.0

transformers>=4.38.0
tokenizers>=0.15.0

tqdm
numpy
Pillow
opencv-python
scipy
argparse
pyyaml

accelerate>=0.25.0

scikit-image

ultralytics

matplotlib

huggingface-hub>=0.20.0

timm